<div class="blog-cards">
  <div class="container">

    <!-- Blog Card -->
    <article class="blog-card blog-cards__item">
      <div class="blog-card__poster">
        <img class="blog-card__image img-bg" src="img/pages/blog/blog-card__poster-01.jpg" alt="Blog Card Poster">
      </div>

      <div class="blog-card__body-wrapper">
        <div class="blog-card__body">
          <h2 class="title title--big blog-card__title">How to sell your itunes giftcard with us.</h2>
          <div class="blog-date blog-card__blog-date">
            <span>19 june, 2021</span><span>business</span>
          </div>
          <p class="blog-card__text">Lorem ipsum dolor sit amet, magna habemus ius ad, qui minimum voluptaria in. Ad mei modus quodsi complectitur, postea verterem persecuti cu est, sea epicuri.</p>
          <a href="blog-content.html" target="_blank" class="button">discover</a>
        </div>
      </div>
    </article>

    <!-- Blog Card -->
    <article class="blog-card blog-cards__item">
      <div class="blog-card__poster">
        <img class="blog-card__image img-bg" src="img/pages/blog/blog-card__poster-02.jpg" alt="Blog Card Poster">
      </div>

      <div class="blog-card__body-wrapper">
        <div class="blog-card__body">
          <h2 class="title title--big blog-card__title">Exchange 5 products & get 1 free product</h2>
          <div class="blog-date blog-card__blog-date">
            <span>20 september, 2021</span><span>business</span>
          </div>
          <p class="blog-card__text">Lorem ipsum dolor sit amet, magna habemus ius ad, qui minimum voluptaria in. Ad mei modus quodsi complectitur, postea verterem persecuti cu est, sea epicuri.</p>
          <a href="blog-content.html" target="_blank" class="button">discover</a>
        </div>
      </div>
    </article>

    <!-- Blog Card -->
    <article class="blog-card blog-cards__item">
      <div class="blog-card__poster">
        <img class="blog-card__image img-bg" src="img/pages/blog/blog-card__poster-03.jpg" alt="Blog Card Poster">
      </div>

      <div class="blog-card__body-wrapper">
        <div class="blog-card__body">
          <h2 class="title title--big blog-card__title">Eth to naira exchange rate is now #400 per...</h2>
          <div class="blog-date blog-card__blog-date">
            <span>3 november, 2021</span><span>business</span>
          </div>
          <p class="blog-card__text">Lorem ipsum dolor sit amet, magna habemus ius ad, qui minimum voluptaria in. Ad mei modus quodsi complectitur, postea verterem persecuti cu est, sea epicuri.</p>
          <a href="blog-content.html" target="_blank" class="button">discover</a>
        </div>
      </div>
    </article>

    <!-- Pagination -->
    <div class="pagination blog-cards__pagination">
      <a href="#" class="pagination__link pagination__link--is-active">01</a>
      <a href="#" class="pagination__link">02</a>
      <a href="#" class="pagination__link">03</a>
      <a href="#" class="pagination__link">...</a>
      <a href="#" class="pagination__link pagination__link--next">Next</a>
    </div>

  </div> <!-- /.container -->
</div>