<section class="contact-us">
  <div class="container">
    <div class="contact-us__inner">

      <!-- .contact__title -->
      <h6 class="contact-us__title">Please note that all message will be replied within the next 12hours</h6>

      <!-- .contact-us__publish-form -->
      <div class="contact-us__publish-form">

        <!-- .publish-form -->
        @@include('../../publish-form.html')

      </div>

      <!-- .contact__map -->
      <div class="contact-us__map">
        <img class="img-fluid" src="img/pages/contact/contact-us__map.jpg" alt="Contact Us Map">

        <address class="contact-us__address">
          <ul>
            <li class="contact-us__address-item">
              <a class="contact-us__address-link" href="#"><img class="contact-us__address-icon" src="img/svg-sprite.svg#location" alt="Contact Us Location">13 Sawyer Crescent Victoria Island Lagos Nigeria</a>
            </li>
            <li class="contact-us__address-item">
              <a class="contact-us__address-link" href="tel:+234137632128"><img class="contact-us__address-icon" src="img/svg-sprite.svg#phone" alt="Contact Us Phone">(+234) 137632128</a>
            </li>
            <li class="contact-us__address-item">
              <a class="contact-us__address-link" href="mailto:support@coinbase.com"><img class="contact-us__address-icon" src="img/svg-sprite.svg#email" alt="Contact Us Email">support@coinbase.com</a>
            </li>
          </ul>
        </address>
      </div> <!-- /.__map -->

    </div> <!-- /.__inner -->
  </div> <!-- /.cotainer -->
</section>