<div class="modal modal--bitcoin">
  <div class="modal__body">

    <!-- .modal__close-button -->
    <button class="modal__close-button hamburger hamburger--spin-r" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div class="modal__logo modal__logo--bitcoin">
      <img class="img-fluid" src="img/modals/bitcoin.svg" alt="Bitcoin">
    </div>
    <p class="modal__rate"><span>N360.00</span> is our conversion rate for 0.1 BTC on this platform.</p>
    <p class="modal__text">The total value you derived here will be the amount you’ll be receiving during the total transaction process</p>

    <!-- .modal__form -->
    <form class="modal__form" action="#" method="post" name="Bitcoin Value">
      <input class="modal__input" type="text" name="Bitcoin Value" placeholder="Bitcoin Value" autocomplete="off" required>
      <input class="modal__input modal__input--sum" type="text" name="Total Sum" placeholder="#0.00" disabled>
      <button class="modal__button button" type="button">proceed</button>
    </form>

  </div>
</div>