<div class="modal modal--gift-cards">
  <div class="modal__body modal__body--gift-cards">

    <!-- .modal__close-button -->
    <button class="modal__close-button hamburger hamburger--spin-r" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <h3 class="modal__title">Got Gift Cards For Sale?</h3>
    <p class="modal__subtitle">Choose your preferred card type to continue the exchange process</p>

    <div class="modal__items">
      <a href="#" class="modal__item modal__item--amazon">
        <img class="img-fluid" src="img/modals/amazon.svg" alt="Amazon">
      </a>
      <a href="#" class="modal__item modal__item--itunes">
        <img class="img-fluid" src="img/modals/itunes.svg" alt="iTunes">
      </a>
      <a href="#" class="modal__item modal__item--steam">
        <img class="img-fluid" src="img/modals/steam.svg" alt="Steam">
      </a>
      <a href="#" class="modal__item modal__item--google-play">
        <img class="img-fluid" src="img/modals/google-play.svg" alt="Google Play">
      </a>
      <a href="#" class="modal__item modal__item--others">
        <img class="img-fluid" src="img/modals/others.svg" alt="Others">
      </a>
    </div>

  </div>
</div>