<div class="modal modal--login">
  <div class="modal__body modal__body--login">

    <!-- .modal__close-button -->
    <button class="modal__close-button hamburger hamburger--spin-r" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <h3 class="modal__title">Welcome back!</h3>
    <p class="modal__subtitle">Kindly fill in your login details to proceed</p>

    <!-- .modal__form -->
    <form class="modal__form" action="#" method="post" name="Login">
      <input class="modal__input" type="email" name="Email" placeholder="Email" autocomplete="off" required>
      <input class="modal__input modal__input--login" type="password" name="Password" placeholder="Password" autocomplete="off" required>
      <div class="modal__forgot">
        <a href="#" class="modal__forgot-link">i forgot my password?</a>
      </div>
      <button class="modal__button button" type="button">login</button>
    </form>

    <div class="modal__question">Don’t have an account yet? <a href="#" class="modal__question-link modal__sign-up-link">Sign Up</a></div>

  </div>
</div>