<div class="modal modal--others">
  <div class="modal__body">

    <!-- .modal__close-button -->
    <button class="modal__close-button hamburger hamburger--spin-r" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div class="modal__logo modal__logo--others">
      <img class="img-fluid" src="img/modals/others.svg" alt="Others">
    </div>
    <p class="modal__rate"><span>N300.00</span> is our conversion rate for every other card on this platform.</p>
    <p class="modal__text">The total value you derived here will be the amount you’ll be receiving during the total transaction process</p>

    <!-- /.modal__form -->
    <form class="modal__form" action="#" method="post" name="Amazon Value">
      <input class="modal__input modal__input--gift-cards" type="text" name="Card Type" placeholder="Card Type" autocomplete="off" required>
      <input class="modal__input modal__input--gift-cards" type="text" name="Card Currency" placeholder="Card Currency" autocomplete="off" required>
      <input class="modal__input modal__input--gift-cards" type="text" name="Amount" placeholder="Amount" autocomplete="off" required>
      <input class="modal__input modal__input--sum" type="text" name="Total Sum" placeholder="#0.00" disabled>
      <button class="modal__button button" type="button">proceed</button>
    </form>

  </div>
</div>