<div class="modal modal--sign-up">
  <div class="modal__body modal__body--sign-up">

    <!-- .modal__close-button -->
    <button class="modal__close-button hamburger hamburger--spin-r" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <h3 class="modal__title">Sign up</h3>
    <p class="modal__subtitle">There’s no charge upon registration</p>

    <!-- .modal__form -->
    <form class="modal__form" action="#" method="post" name="Sign up">
      <input class="modal__input" type="text" name="Full Name" placeholder="Full Name" autocomplete="off" required>
      <input class="modal__input" type="email" name="Email" placeholder="Email" autocomplete="off" required>
      <input class="modal__input" type="password" name="Password" placeholder="Password" autocomplete="off" required>
      <input class="modal__input modal__input--sign-up" type="password" name="Confirm Password" placeholder="Confirm Password" autocomplete="off" required>
      <button class="modal__button button" type="button">sign up</button>
    </form>

    <div class="modal__question">Already a member? <a href="#" class="modal__question-link modal__login-link">Login</a></div>

  </div>
</div>