<footer class="footer">
  <div class="footer__container container">
    <div class="footer__inner">

      <!-- .footer__col -->
      <div class="footer__col">

        <!-- .footer__logo -->
        <div class="footer__logo">
          <img src="img/footer/footer__logo.svg" alt="CoinBase Logo ">
        </div>

        <p class="footer__text">Fusce ut elit aliquet, fermentum leo vel, tempus nunc. Fusce eu rhoncus augue. Fusce vel metus pharetra, fermentum.</p>

        <!-- .footer__social -->
        <div class="footer__social">
          <a href="#" target="_blank" class="footer__social-link">
            <i class="icon-google"></i>
          </a>
          <a href="#" target="_blank" class="footer__social-link">
            <i class="icon-facebook"></i>
          </a>
          <a href="#" target="_blank" class="footer__social-link">
            <i class="icon-twitter"></i>
          </a>
          <a href="#" target="_blank" class="footer__social-link">
            <i class="icon-instagram"></i>
          </a>
        </div>

      </div> <!-- /.__col -->

      <!-- .footer__col -->
      <div class="footer__col">

        <!-- .footer__menu -->
        <nav class="footer__menu">
          <h5 class="footer__title">CoinBase Links</h5>

          <ul class="footer__list">
            <li class="footer__item"><a href="index.html" class="footer__link">Home</a></li>
            <li class="footer__item"><a href="about.html" class="footer__link">About Us</a></li>
            <li class="footer__item"><a href="blog.html" class="footer__link">Blog</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Sell</a></li>
            <li class="footer__item"><a href="contact.html" class="footer__link">Contact Us</a></li>
          </ul>
        </nav>

        <!-- .footer__contacts -->
        <div class="footer__contacts">
          <h5 class="footer__title">Contact Us</h5>

          <address class="footer__address">
            <ul>
              <li><a href="tel:+234137632128" class="footer__link">(+234) 137632128</a>
              <li><a href="mailto:coinbase@yahoo.com" class="footer__link">Coinbase@yahoo.com</a></li>
              <li><a href="#" target="_blank" class="footer__link">Address goes here</a></li></li>
            </ul>
          </address>

          <div class="footer__download-app">
            <a href="#" class="footer__link">Download Our App</a>
          </div>
        </div>

      </div> <!-- /.__col -->

      <!-- .footer__col -->
      <div class="footer__col">

        <h5 class="footer__title">CoinBase Instagram</h5>

        <div class="footer__instagram">
          <a href="#" target="_blank">
            <img class="img-fluid" src="img/footer/instagram/photo-01.jpg" alt="CoinBase Instagram">
          </a>
          <a href="#" target="_blank">
            <img class="img-fluid" src="img/footer/instagram/photo-02.jpg" alt="CoinBase Instagram">
          </a>
          <a href="#" target="_blank">
            <img class="img-fluid" src="img/footer/instagram/photo-03.jpg" alt="CoinBase Instagram">
          </a>
          <a href="#" target="_blank">
            <img class="img-fluid" src="img/footer/instagram/photo-04.jpg" alt="CoinBase Instagram">
          </a>
          <a href="#" target="_blank">
            <img class="img-fluid" src="img/footer/instagram/photo-05.jpg" alt="CoinBase Instagram">
          </a>
          <a href="#" target="_blank">
            <img class="img-fluid" src="img/footer/instagram/photo-06.jpg" alt="CoinBase Instagram">
          </a>
          <a href="#" target="_blank">
            <img class="img-fluid" src="img/footer/instagram/photo-07.jpg" alt="CoinBase Instagram">
          </a>
          <a href="#" target="_blank">
            <img class="img-fluid" src="img/footer/instagram/photo-08.jpg" alt="CoinBase Instagram">
          </a>
        </div> <!-- /.instagram -->

      </div> <!-- /.__col -->

    </div> <!-- /.__inner -->

    <!-- .footer__copyrights -->
    <div class="footer__copyrights">© 2021 Designed by Cr8tiv_yemmy</div>

  </div> <!-- /.container -->
</footer>