<form class="publish-form" action="#" method="post" name="publish-form">
  <input class="publish-form__input publish-form__item" type="text" name="name" placeholder="Name *" autocomplete="off" required>
  <input class="publish-form__input publish-form__item" type="email" name="email" placeholder="Email *" autocomplete="off" required>
  <textarea class="publish-form__textarea publish-form__item" name="your comment" placeholder="Your Comment"></textarea>
  <button class="button" type="submit">publish</button>
</form>